<meta name="viewport" content="width=device-width, initial-scale=1">



<div class="page-header about">
    <h1 class = "title">Matthew Meitl</br ><small class="small">Random pictures of Me</small></h1>
</div>
<div class = "jumbotron ">
<div class = "container">
    <% if @images.urls.present? %>
        
        <%= image_tag @images.urls, :class => "img-responsive center-block well" %>
    <% end %>
</div>
    </div
</div>
